<div class="container">
  <div class="ttt-header">
    <mat-toolbar color="primary">
      <h1>Tic Tac Toe</h1>
    </mat-toolbar>
  </div>

  <aside class="ttt-players">
    <mat-toolbar color="accent" class="mat-elevation-z2">
      <h3>Select Players</h3>
    </mat-toolbar>

    <div class="ttt-labeled">
      <label for="numPlayers"># of Human Players: {{numHumanPlayers(this.players)}}</label>
    </div>

    <div *ngFor="let player of players; let p = index">
      <label class="ttt-labeled" for="player{{p+1}}">Player {{p+1}} ({{PLAYER_PIECES[p]}}): </label>
      <input name="player{{p+1}}" [(ngModel)]="player.name" />

      <mat-radio-group [(ngModel)]="player.strategy" name="player{{p+1}}">
        <mat-radio-button *ngFor="let strategy of strategies" [value]="strategy" labelPosition="before">
          {{strategy}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <button mat-button color="primary" (click)="onStart()">Start</button>
      <button mat-button color="warn" (click)="onEnd()"
        [disabled]="!gameService.game.startDate || gameService.game.endDate">End</button>

      <input placeholder="Game # to view" (blur)="onBlur($event)" style="margin-left: 0.75em;" />
    </div>

    <br />

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>games</mat-panel-title>
        <mat-panel-description>
          # games: {{numGames}}, X Wins:{{winsX | percent:'1.1-1'}}, O Wins: {{winsO | percent:'1.1-1'}}, Ties: {{ties | percent:'1.1-1'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="ttt-games">
        <table mat-table [dataSource]="gameService.games$">
          <!-- id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let game"> {{game.id}} </td>
          </ng-container>

          <!-- playerNames Column -->
          <ng-container matColumnDef="playerNames">
            <th mat-header-cell *matHeaderCellDef> Players </th>
            <td mat-cell *matCellDef="let game"> {{game.playerNames}} </td>
          </ng-container>

          <!-- numMoves Column -->
          <ng-container matColumnDef="numMoves">
            <th mat-header-cell *matHeaderCellDef> # moves </th>
            <td mat-cell *matCellDef="let game"> {{game.numMoves}} </td>
          </ng-container>

          <!-- result Column -->
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result </th>
            <td mat-cell *matCellDef="let game"> {{game | gameResult}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </aside>

  <article class="ttt-board">
    <app-board></app-board>
  </article>
</div>