<div class="container">
  <div class="ttt-header">
    <mat-toolbar color="primary">
      <h1>Tic Tac Toe</h1>
    </mat-toolbar>
  </div>

  <aside class="ttt-players">
    <mat-toolbar color="accent" class="mat-elevation-z2">
      <h3>Select Players</h3>
    </mat-toolbar>

    <div class="ttt-labeled">
      <label for="numPlayers"># of Human Players: {{numHumanPlayers(this.players)}}</label>
    </div>

    <div *ngFor="let player of players; let p = index">
      <label class="ttt-labeled" for="player{{p+1}}">Player {{p+1}} ({{PLAYER_PIECES[p]}}): </label>
      <input name="player{{p+1}}" [(ngModel)]="player.name" />

      <mat-radio-group [(ngModel)]="player.kind" name="player{{p+1}}">
        <mat-radio-button *ngFor="let kind of PlayerKinds" [value]="kind.value" labelPosition="before">
          {{kind.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div>
      <button mat-button color="primary" (click)="onStart()">Start</button>
      <button mat-button color="warn" (click)="onEnd()"
        [disabled]="!gameService.game.startDate || gameService.game.endDate">End</button>

      <input placeholder="Game # to view" (blur)="onBlur($event)" style="margin-left: 12px;" />
    </div>

    <br />

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>details</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="ttt-moves">
          board.moves:
          <table>
            <tr>
              <th>PlayerIndex</th>
              <th>Spot</th>
            </tr>
            <tr *ngFor="let move of boardService.board.moves">
              <td>{{move.playerIndex}}</td>
              <td>{{move.spot}}</td>
            </tr>
          </table>
        </div>

        <p>game: {{gameService.game | json}}</p>
        <p>currentPlayer: {{boardService.board.currentPlayer | json}}</p>
        <p>board: {{boardService.board | json}}</p>
        <p>board.spots: {{boardService.board.spots | json}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </aside>

  <article class="ttt-board">
    <app-board></app-board>
  </article>
</div>