@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    color: black;
    background-color: whitesmoke;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
